<div ng-controller="UserAccountCtrl as vm">
    <form class="">
        <!--User-->
        <div class="form-group row">
            <label for="userName"
                   class="col-md-3 control-label">User Name</label>
            <div class="col-md-6">
                <input class="form-control"
                       type="text"
                       id="userName"
                       name="userName"
                       placeholder="username (email)"
                       ng-model="vm.userData.email" />
            </div>
        </div>
        <!--Password-->
        <div class="form-group row">
            <label for="password"
                   class="col-md-3 control-label">Password</label>
            <div class="col-md-6">
                <input class="form-control"
                       type="password"
                       id="password"
                       name="password"
                       placeholder="password"
                       ng-model="vm.userData.password" />
            </div>
        </div>
        <!--Buttons-->
        <div class="form-group row">
            <button class="btn btn-default"
                    type="submit"
                    ng-click="vm.OnLoginClick()">
                LogIn
            </button>
            <button class="btn btn-default"
                    type="submit"
                    ng-click="vm.OnRegisterClick()">
                Register
            </button>
        </div>

    </form>
</div>